
@media (min-width: 900px) {
.Another-filter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .period-select{
    height: 40px;
    background-color: #0000!important;
    cursor: 'pointer';
    border-width: 1px!important;
    border-style: solid;
    border-color: #d4d4e0;
    border-radius: 8px;
    font-size: 13px;
    color: #454857!important;
    font-family: TBCXRegular;
    width: 113.22px;
    padding-left: 12px;
    padding-right: 8px;
    margin-right: 10px;
  }
  
  .sort-select{
    height: 40px;
    background-color: #0000!important;
    cursor: 'pointer';
    border-width: 1px!important;
    border-style: solid;
    border-color: #d4d4e0;
    border-radius: 8px;
    font-size: 13px;
    color: #454857!important;
    font-family: TBCXRegular;
    width: 171.5px;
    padding-left: 12px;
    padding-right: 8px;
  
  }
}

@media (max-width: 900px){
    /* CarList */
    .Another-filter-container{
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    
    .period-select{
      height: 34px;
      background-color: #0000!important;
      cursor: 'pointer';
      border-width: 1px!important;
      border-style: solid;
      border-color: #d4d4e0;
      border-radius: 8px;
      font-size: 12px;
      color: #454857!important;
      font-family: TBCXRegular;
      width: auto;
      padding-left: 6px;
      margin-right: 5px;
    }
    
    .sort-select{
      height: 34px;
      background-color: #0000!important;
      cursor: 'pointer';
      border-width: 1px!important;
      border-style: solid;
      border-color: #d4d4e0;
      border-radius: 8px;
      font-size: 12px;
      color: #454857!important;
      font-family: TBCXRegular;
      width: auto;
      padding-left: 6px;
    
    }
  
}